li{
    list-style-type: none;
    width: 20%;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.2s;
    padding: 20px;
    margin: 10px;
}

li :hover{
    transform: translateX(-3);
    cursor: pointer;
}

.employee-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pagination{
    display: flex;
    flex-direction: row;
}